<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <a routerLink="home">Home</a>
        <a routerLink="welcome">Welcome</a>
        <a routerLink="data-binding">Data Binding</a>
        <a routerLink="calculator">Calculator</a>
        <a routerLink="rectangle">Rectangle</a>
        <a routerLink="circle">Circle</a>
        <a routerLink="bmi-calculator">BMI-Calculator</a>
        <a routerLink="dice">Dice</a>
        <a routerLink="directives-pipes">Directives-Pipes</a>
        <a routerLink="employee">Employee</a>
        <a routerLink="flipkart">Flipkart</a>
        <a routerLink="vehicles">Vehicles</a>
        <a routerLink="bank-accounts">Bank-Accounts</a>
        <a routerLink="flipkartpage">Flipkart Page</a>
        <a routerLink="mail">Mail</a>
        <a routerLink="create-vehicle">Create-Vehicle</a>
        <a routerLink="view-vehicle">View-Vehicle</a>
        <a routerLink="create-bank-accounts">Create Bank-Accounts</a>
        <a routerLink="student-cards">Student-cards</a>
        <a routerLink="create-student">Create-Student</a>
        <a routerLink="create-user">Create-User</a>
        <a routerLink="studentdetails">Student Details</a>
        <a routerLink="parent">Parent</a>
        <a routerLink="calculator2"> Calculator2</a>
        <a routerLink="silbling">Silbling</a>
        <a routerLink="amazon">Amazon</a>
        <a routerLink="todo">To-Do APP</a>
        <a routerLink="about-company">About-Company</a>
        <hr>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>