.parent{
    height: 100%;
    width: 100%;
    /* margin: auto;
    padding: auto; */
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}
.todoform{
    width: 350px;
    height: 600px;
    background: linear-gradient(rgb(7, 82, 147),rgb(37, 203, 209));
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    border: 2px double;
}

.todo1{
    width: 350px;
    height: 600px;
    background: linear-gradient(rgb(113, 235, 164),rgb(235, 113, 113));
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    border: 2px double;
}

.todo2{
    width: 350px;
    height: 600px;
    background: linear-gradient(rgb(113, 201, 235),hotpink);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    border: 2px double;
}
